body {
  background: #eae2b7;
}

a {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}
#about {
  text-align: center;
}
#about img {
  display: block;
  margin: 0 auto;
}
#about img {
  width: 200px;          /* optional, but helps ensure square */
  height: 200px;         /* optional, but helps ensure square */
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #003049;
}
#portfolio {
  text-align: center;
}

#portfolio img {
  display: block;
  margin: 0 auto;
}
